html,body{
    margin :0;
    width : 100%;
    height : 100%;
    overflow : hidden;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    height: 8vh;
    text-align: center;
    font-size: 5.5vmin;
    font-family: 'Khand',monospace;
    width: 100vw;
    color: #ffffff;
    line-height: 8vh; 
    background-image: url('../assets/srivatsa.png'),linear-gradient(45deg,transparent 43%,white 43.1%,white 57%,transparent 57.1%),linear-gradient(135deg,#3a3a3a 43%,white 43.1%,white 57%,#3a3a3a 57.1%);
    background-position: 50%,center;
    background-size: 6vh,100% 100%,100% 100%;
    background-repeat: no-repeat;
    display : flex;
}

.header>div{
    width : 50vw;
    text-align : center;
    color : white;
}

/* .lefthead{
    color : #3a3a3a;
}
.righthead{
    color : white;
} */

.area{
    margin-top : 2vh;
    width : 80vw;
    height : 30vh;
    border : 2px dashed black;
    padding : 1vh 1vw;
    margin-left : 10vw;
    margin-right : 10vw;
    outline : none;
}
.area:focus{
    border-width : 4px;
}

.tablet{
    display :flex;
    width : 80vw;
    margin : 3vh 10vw 0 10vw;
    justify-content: space-around;
}

.guide{
    margin-top: 2vh;
    width: 90vw;
    height: 10vh;
    display: grid;
    margin-left: 5vw;
    grid-template-rows: 4vh 4vh;
    grid-template-columns: repeat(8,1fr);
    grid-column-gap: 0.5vw;
    grid-row-gap: 1vh;
}

.guide>div{
    text-align: center;
    font-size: 3.5vmin;
    line-height: 4.5vh;
    height: 4.5vh;
    background: #151515;
    color: white;
}

.tabs{
    width: 20vw;
    font-family: 'Rajdhani',monospace;
    line-height: 5vh;
    border: 2px solid black;
    box-shadow: 4px 5px 0 black;
    padding-left: 3vw;
    height: 5vh;
    font-size: 3.5vmin;
    text-align: center;
}

.tabs:hover{
    background : #8BC34A;
}

.chooser{
    margin-right: 30vw;
    outline: none;
    height: 6vh;
    margin-top: 2vh;
    text-align: center;
    font-size: 4vmin;
    text-align: center;
    font-family: 'Khand',monospace;
    width: 40vw;
    background: none;
    margin-left: 30vw;
    background-size: 5px 5px;
    font-family: 'Rajdhani',monospace;
    line-height: 7vh;
    border: 2px solid black;
    box-shadow: 4px 5px 0 black;
    padding-left : 3vw;
}

.options{
    color : black;
    font-family : 'Khand',monospace;
}


.reflection {
    margin-top: 2vh;
    width: 80vw;
    height: 19vh;
    /* box-shadow: 7px 8px black; */
    border: 2px dotted black;
    padding: 1vh 1vw;
    margin-left: 10vw;
    margin-right: 10vw;
    outline: none;
}

.footer{
    display :flex;
    width : 80vw;
    margin : 3vh 10vw 0 10vw;
    justify-content: space-around;
}

.footer>div{
    width: 32vw;
    font-family: 'Rajdhani',monospace;
    line-height: 5vh;
    border: 2px solid black;
    box-shadow: 4px 5px 0 black;
    padding-left: 3vw;
    height: 5vh;
    font-size: 3.5vmin;
    text-align: center;
}

.footer>div:hover{
    background : #8BC34A;
}
